# Flutter/Dart build artifacts
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/

# Android
android/local.properties
android/.gradle/
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*

# Web
web/.dart_tool/

# macOS
macos/Pods/
macos/.symlinks/
macos/Flutter/ephemeral/
